.button {
  font-family: var(--font-button-large-font-family);
  font-size: var(--font-button-large-font-size);
  font-weight: var(--font-button-large-font-weight);
  text-transform: var(--font-button-large-text-case);

  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: opacity 125ms ease-in-out;
}

.button:hover {
  opacity: 0.8;
}

.button-primary {
  background-color: var(--color-primary-default);
  color: var(--color-primary-contrast);
}

.button-highlight {
  background-color: var(--color-highlight-default);
  color: var(--color-highlight-contrast);
}
