:root {
  --color-primary-default: #1a318f;
  --color-primary-light: #5467bc;
  --color-primary-dark: #07207a;
  --color-primary-contrast: #ffffff;
  --color-secondary-default: #f0f6f7;
  --color-secondary-light: #f8fbfb;
  --color-secondary-dark: #e7f1f3;
  --color-secondary-contrast: #646e95;
  --color-text-default: #646e95;
  --color-text-light: #a1a8c1;
  --color-text-dark: #434d7e;
  --color-text-contrast: #ffffff;
  --color-highlight-default: #7bc583;
  --color-highlight-light: #a1d5a6;
  --color-highlight-dark: #42a64e;
  --color-highlight-contrast: #ffffff;
  --color-background-light: #f8fbfb;
  --color-background-dark: #e8eaf4;
  --color-info-default: #1a318f;
  --color-info-light: #a3add2;
  --color-info-dark: #122264;
  --color-info-darker: #0d1847;
  --color-error-default: #f44336;
  --color-error-light: #fbb4af;
  --color-error-dark: #ab2f26;
  --color-error-darker: #7a211b;
  --color-success-default: #48da4e;
  --color-success-light: #b6f0b8;
  --color-success-dark: #329937;
  --color-success-darker: #246d27;
  --color-border-light: #eff1f4;
  --font-menu-font-size: 16px;
  --font-menu-text-decoration: none;
  --font-menu-font-family: Source Sans Pro;
  --font-menu-font-weight: 700;
  --font-menu-font-style: normal;
  --font-menu-font-stretch: normal;
  --font-menu-font-style-old: Bold;
  --font-menu-letter-spacing: 0;
  --font-menu-line-height: 150%;
  --font-menu-paragraph-indent: 0;
  --font-menu-paragraph-spacing: 0;
  --font-menu-text-case: uppercase;
  --font-heading-toggle-font-size: 18px;
  --font-heading-toggle-text-decoration: none;
  --font-heading-toggle-font-family: Source Sans Pro;
  --font-heading-toggle-font-weight: 700;
  --font-heading-toggle-font-style: normal;
  --font-heading-toggle-font-stretch: normal;
  --font-heading-toggle-font-style-old: Bold;
  --font-heading-toggle-letter-spacing: 0;
  --font-heading-toggle-line-height: 100%;
  --font-heading-toggle-paragraph-indent: 0;
  --font-heading-toggle-paragraph-spacing: 0;
  --font-heading-toggle-text-case: uppercase;
  --font-heading-h1-200-font-size: 50px;
  --font-heading-h1-200-text-decoration: none;
  --font-heading-h1-200-font-family: Source Sans Pro;
  --font-heading-h1-200-font-weight: 200;
  --font-heading-h1-200-font-style: normal;
  --font-heading-h1-200-font-stretch: normal;
  --font-heading-h1-200-font-style-old: ExtraLight;
  --font-heading-h1-200-letter-spacing: 0;
  --font-heading-h1-200-line-height: 100%;
  --font-heading-h1-200-paragraph-indent: 0;
  --font-heading-h1-200-paragraph-spacing: 0;
  --font-heading-h1-200-text-case: none;
  --font-heading-h1-300-font-size: 50px;
  --font-heading-h1-300-text-decoration: none;
  --font-heading-h1-300-font-family: Source Sans Pro;
  --font-heading-h1-300-font-weight: 300;
  --font-heading-h1-300-font-style: normal;
  --font-heading-h1-300-font-stretch: normal;
  --font-heading-h1-300-font-style-old: Light;
  --font-heading-h1-300-letter-spacing: 0;
  --font-heading-h1-300-line-height: 100%;
  --font-heading-h1-300-paragraph-indent: 0;
  --font-heading-h1-300-paragraph-spacing: 0;
  --font-heading-h1-300-text-case: none;
  --font-heading-h1-400-font-size: 50px;
  --font-heading-h1-400-text-decoration: none;
  --font-heading-h1-400-font-family: Source Sans Pro;
  --font-heading-h1-400-font-weight: 400;
  --font-heading-h1-400-font-style: normal;
  --font-heading-h1-400-font-stretch: normal;
  --font-heading-h1-400-font-style-old: Regular;
  --font-heading-h1-400-letter-spacing: 0;
  --font-heading-h1-400-line-height: 100%;
  --font-heading-h1-400-paragraph-indent: 0;
  --font-heading-h1-400-paragraph-spacing: 0;
  --font-heading-h1-400-text-case: none;
  --font-heading-h1-600-font-size: 50px;
  --font-heading-h1-600-text-decoration: none;
  --font-heading-h1-600-font-family: Source Sans Pro;
  --font-heading-h1-600-font-weight: 600;
  --font-heading-h1-600-font-style: normal;
  --font-heading-h1-600-font-stretch: normal;
  --font-heading-h1-600-font-style-old: SemiBold;
  --font-heading-h1-600-letter-spacing: 0;
  --font-heading-h1-600-line-height: 100%;
  --font-heading-h1-600-paragraph-indent: 0;
  --font-heading-h1-600-paragraph-spacing: 0;
  --font-heading-h1-600-text-case: none;
  --font-heading-h1-700-font-size: 50px;
  --font-heading-h1-700-text-decoration: none;
  --font-heading-h1-700-font-family: Source Sans Pro;
  --font-heading-h1-700-font-weight: 700;
  --font-heading-h1-700-font-style: normal;
  --font-heading-h1-700-font-stretch: normal;
  --font-heading-h1-700-font-style-old: Bold;
  --font-heading-h1-700-letter-spacing: 0;
  --font-heading-h1-700-line-height: 100%;
  --font-heading-h1-700-paragraph-indent: 0;
  --font-heading-h1-700-paragraph-spacing: 0;
  --font-heading-h1-700-text-case: none;
  --font-heading-h1-900-font-size: 50px;
  --font-heading-h1-900-text-decoration: none;
  --font-heading-h1-900-font-family: Source Sans Pro;
  --font-heading-h1-900-font-weight: 900;
  --font-heading-h1-900-font-style: normal;
  --font-heading-h1-900-font-stretch: normal;
  --font-heading-h1-900-font-style-old: Black;
  --font-heading-h1-900-letter-spacing: 0;
  --font-heading-h1-900-line-height: 100%;
  --font-heading-h1-900-paragraph-indent: 0;
  --font-heading-h1-900-paragraph-spacing: 0;
  --font-heading-h1-900-text-case: none;
  --font-heading-h2-200-font-size: 45px;
  --font-heading-h2-200-text-decoration: none;
  --font-heading-h2-200-font-family: Source Sans Pro;
  --font-heading-h2-200-font-weight: 200;
  --font-heading-h2-200-font-style: normal;
  --font-heading-h2-200-font-stretch: normal;
  --font-heading-h2-200-font-style-old: ExtraLight;
  --font-heading-h2-200-letter-spacing: 0;
  --font-heading-h2-200-line-height: 100%;
  --font-heading-h2-200-paragraph-indent: 0;
  --font-heading-h2-200-paragraph-spacing: 0;
  --font-heading-h2-200-text-case: none;
  --font-heading-h2-300-font-size: 45px;
  --font-heading-h2-300-text-decoration: none;
  --font-heading-h2-300-font-family: Source Sans Pro;
  --font-heading-h2-300-font-weight: 300;
  --font-heading-h2-300-font-style: normal;
  --font-heading-h2-300-font-stretch: normal;
  --font-heading-h2-300-font-style-old: Light;
  --font-heading-h2-300-letter-spacing: 0;
  --font-heading-h2-300-line-height: 100%;
  --font-heading-h2-300-paragraph-indent: 0;
  --font-heading-h2-300-paragraph-spacing: 0;
  --font-heading-h2-300-text-case: none;
  --font-heading-h2-400-font-size: 45px;
  --font-heading-h2-400-text-decoration: none;
  --font-heading-h2-400-font-family: Source Sans Pro;
  --font-heading-h2-400-font-weight: 400;
  --font-heading-h2-400-font-style: normal;
  --font-heading-h2-400-font-stretch: normal;
  --font-heading-h2-400-font-style-old: Regular;
  --font-heading-h2-400-letter-spacing: 0;
  --font-heading-h2-400-line-height: 100%;
  --font-heading-h2-400-paragraph-indent: 0;
  --font-heading-h2-400-paragraph-spacing: 0;
  --font-heading-h2-400-text-case: none;
  --font-heading-h2-600-font-size: 45px;
  --font-heading-h2-600-text-decoration: none;
  --font-heading-h2-600-font-family: Source Sans Pro;
  --font-heading-h2-600-font-weight: 600;
  --font-heading-h2-600-font-style: normal;
  --font-heading-h2-600-font-stretch: normal;
  --font-heading-h2-600-font-style-old: SemiBold;
  --font-heading-h2-600-letter-spacing: 0;
  --font-heading-h2-600-line-height: 100%;
  --font-heading-h2-600-paragraph-indent: 0;
  --font-heading-h2-600-paragraph-spacing: 0;
  --font-heading-h2-600-text-case: none;
  --font-heading-h2-700-font-size: 45px;
  --font-heading-h2-700-text-decoration: none;
  --font-heading-h2-700-font-family: Source Sans Pro;
  --font-heading-h2-700-font-weight: 700;
  --font-heading-h2-700-font-style: normal;
  --font-heading-h2-700-font-stretch: normal;
  --font-heading-h2-700-font-style-old: Bold;
  --font-heading-h2-700-letter-spacing: 0;
  --font-heading-h2-700-line-height: 100%;
  --font-heading-h2-700-paragraph-indent: 0;
  --font-heading-h2-700-paragraph-spacing: 0;
  --font-heading-h2-700-text-case: none;
  --font-heading-h2-900-font-size: 45px;
  --font-heading-h2-900-text-decoration: none;
  --font-heading-h2-900-font-family: Source Sans Pro;
  --font-heading-h2-900-font-weight: 900;
  --font-heading-h2-900-font-style: normal;
  --font-heading-h2-900-font-stretch: normal;
  --font-heading-h2-900-font-style-old: Black;
  --font-heading-h2-900-letter-spacing: 0;
  --font-heading-h2-900-line-height: 100%;
  --font-heading-h2-900-paragraph-indent: 0;
  --font-heading-h2-900-paragraph-spacing: 0;
  --font-heading-h2-900-text-case: none;
  --font-heading-h3-200-font-size: 35px;
  --font-heading-h3-200-text-decoration: none;
  --font-heading-h3-200-font-family: Source Sans Pro;
  --font-heading-h3-200-font-weight: 200;
  --font-heading-h3-200-font-style: normal;
  --font-heading-h3-200-font-stretch: normal;
  --font-heading-h3-200-font-style-old: ExtraLight;
  --font-heading-h3-200-letter-spacing: 0;
  --font-heading-h3-200-line-height: 100%;
  --font-heading-h3-200-paragraph-indent: 0;
  --font-heading-h3-200-paragraph-spacing: 0;
  --font-heading-h3-200-text-case: none;
  --font-heading-h3-300-font-size: 35px;
  --font-heading-h3-300-text-decoration: none;
  --font-heading-h3-300-font-family: Source Sans Pro;
  --font-heading-h3-300-font-weight: 300;
  --font-heading-h3-300-font-style: normal;
  --font-heading-h3-300-font-stretch: normal;
  --font-heading-h3-300-font-style-old: Light;
  --font-heading-h3-300-letter-spacing: 0;
  --font-heading-h3-300-line-height: 100%;
  --font-heading-h3-300-paragraph-indent: 0;
  --font-heading-h3-300-paragraph-spacing: 0;
  --font-heading-h3-300-text-case: none;
  --font-heading-h3-400-font-size: 35px;
  --font-heading-h3-400-text-decoration: none;
  --font-heading-h3-400-font-family: Source Sans Pro;
  --font-heading-h3-400-font-weight: 400;
  --font-heading-h3-400-font-style: normal;
  --font-heading-h3-400-font-stretch: normal;
  --font-heading-h3-400-font-style-old: Regular;
  --font-heading-h3-400-letter-spacing: 0;
  --font-heading-h3-400-line-height: 100%;
  --font-heading-h3-400-paragraph-indent: 0;
  --font-heading-h3-400-paragraph-spacing: 0;
  --font-heading-h3-400-text-case: none;
  --font-heading-h3-600-font-size: 35px;
  --font-heading-h3-600-text-decoration: none;
  --font-heading-h3-600-font-family: Source Sans Pro;
  --font-heading-h3-600-font-weight: 600;
  --font-heading-h3-600-font-style: normal;
  --font-heading-h3-600-font-stretch: normal;
  --font-heading-h3-600-font-style-old: SemiBold;
  --font-heading-h3-600-letter-spacing: 0;
  --font-heading-h3-600-line-height: 100%;
  --font-heading-h3-600-paragraph-indent: 0;
  --font-heading-h3-600-paragraph-spacing: 0;
  --font-heading-h3-600-text-case: none;
  --font-heading-h3-700-font-size: 35px;
  --font-heading-h3-700-text-decoration: none;
  --font-heading-h3-700-font-family: Source Sans Pro;
  --font-heading-h3-700-font-weight: 700;
  --font-heading-h3-700-font-style: normal;
  --font-heading-h3-700-font-stretch: normal;
  --font-heading-h3-700-font-style-old: Bold;
  --font-heading-h3-700-letter-spacing: 0;
  --font-heading-h3-700-line-height: 100%;
  --font-heading-h3-700-paragraph-indent: 0;
  --font-heading-h3-700-paragraph-spacing: 0;
  --font-heading-h3-700-text-case: none;
  --font-heading-h3-900-font-size: 18px;
  --font-heading-h3-900-text-decoration: none;
  --font-heading-h3-900-font-family: Source Sans Pro;
  --font-heading-h3-900-font-weight: 700;
  --font-heading-h3-900-font-style: normal;
  --font-heading-h3-900-font-stretch: normal;
  --font-heading-h3-900-font-style-old: Bold;
  --font-heading-h3-900-letter-spacing: 0;
  --font-heading-h3-900-line-height: 150%;
  --font-heading-h3-900-paragraph-indent: 0;
  --font-heading-h3-900-paragraph-spacing: 0;
  --font-heading-h3-900-text-case: none;
  --font-heading-h4-200-font-size: 30px;
  --font-heading-h4-200-text-decoration: none;
  --font-heading-h4-200-font-family: Source Sans Pro;
  --font-heading-h4-200-font-weight: 200;
  --font-heading-h4-200-font-style: normal;
  --font-heading-h4-200-font-stretch: normal;
  --font-heading-h4-200-font-style-old: ExtraLight;
  --font-heading-h4-200-letter-spacing: 0;
  --font-heading-h4-200-line-height: 100%;
  --font-heading-h4-200-paragraph-indent: 0;
  --font-heading-h4-200-paragraph-spacing: 0;
  --font-heading-h4-200-text-case: none;
  --font-heading-h4-300-font-size: 30px;
  --font-heading-h4-300-text-decoration: none;
  --font-heading-h4-300-font-family: Source Sans Pro;
  --font-heading-h4-300-font-weight: 300;
  --font-heading-h4-300-font-style: normal;
  --font-heading-h4-300-font-stretch: normal;
  --font-heading-h4-300-font-style-old: Light;
  --font-heading-h4-300-letter-spacing: 0;
  --font-heading-h4-300-line-height: 100%;
  --font-heading-h4-300-paragraph-indent: 0;
  --font-heading-h4-300-paragraph-spacing: 0;
  --font-heading-h4-300-text-case: none;
  --font-heading-h4-400-font-size: 30px;
  --font-heading-h4-400-text-decoration: none;
  --font-heading-h4-400-font-family: Source Sans Pro;
  --font-heading-h4-400-font-weight: 400;
  --font-heading-h4-400-font-style: normal;
  --font-heading-h4-400-font-stretch: normal;
  --font-heading-h4-400-font-style-old: Regular;
  --font-heading-h4-400-letter-spacing: 0;
  --font-heading-h4-400-line-height: 100%;
  --font-heading-h4-400-paragraph-indent: 0;
  --font-heading-h4-400-paragraph-spacing: 0;
  --font-heading-h4-400-text-case: none;
  --font-heading-h4-600-font-size: 30px;
  --font-heading-h4-600-text-decoration: none;
  --font-heading-h4-600-font-family: Source Sans Pro;
  --font-heading-h4-600-font-weight: 600;
  --font-heading-h4-600-font-style: normal;
  --font-heading-h4-600-font-stretch: normal;
  --font-heading-h4-600-font-style-old: SemiBold;
  --font-heading-h4-600-letter-spacing: 0;
  --font-heading-h4-600-line-height: 100%;
  --font-heading-h4-600-paragraph-indent: 0;
  --font-heading-h4-600-paragraph-spacing: 0;
  --font-heading-h4-600-text-case: none;
  --font-heading-h4-700-font-size: 30px;
  --font-heading-h4-700-text-decoration: none;
  --font-heading-h4-700-font-family: Source Sans Pro;
  --font-heading-h4-700-font-weight: 700;
  --font-heading-h4-700-font-style: normal;
  --font-heading-h4-700-font-stretch: normal;
  --font-heading-h4-700-font-style-old: Bold;
  --font-heading-h4-700-letter-spacing: 0;
  --font-heading-h4-700-line-height: 100%;
  --font-heading-h4-700-paragraph-indent: 0;
  --font-heading-h4-700-paragraph-spacing: 0;
  --font-heading-h4-700-text-case: none;
  --font-heading-h4-900-font-size: 30px;
  --font-heading-h4-900-text-decoration: none;
  --font-heading-h4-900-font-family: Source Sans Pro;
  --font-heading-h4-900-font-weight: 900;
  --font-heading-h4-900-font-style: normal;
  --font-heading-h4-900-font-stretch: normal;
  --font-heading-h4-900-font-style-old: Black;
  --font-heading-h4-900-letter-spacing: 0;
  --font-heading-h4-900-line-height: 100%;
  --font-heading-h4-900-paragraph-indent: 0;
  --font-heading-h4-900-paragraph-spacing: 0;
  --font-heading-h4-900-text-case: none;
  --font-heading-h5-200-font-size: 25px;
  --font-heading-h5-200-text-decoration: none;
  --font-heading-h5-200-font-family: Source Sans Pro;
  --font-heading-h5-200-font-weight: 200;
  --font-heading-h5-200-font-style: normal;
  --font-heading-h5-200-font-stretch: normal;
  --font-heading-h5-200-font-style-old: ExtraLight;
  --font-heading-h5-200-letter-spacing: 0;
  --font-heading-h5-200-line-height: 100%;
  --font-heading-h5-200-paragraph-indent: 0;
  --font-heading-h5-200-paragraph-spacing: 0;
  --font-heading-h5-200-text-case: none;
  --font-heading-h5-300-font-size: 25px;
  --font-heading-h5-300-text-decoration: none;
  --font-heading-h5-300-font-family: Source Sans Pro;
  --font-heading-h5-300-font-weight: 300;
  --font-heading-h5-300-font-style: normal;
  --font-heading-h5-300-font-stretch: normal;
  --font-heading-h5-300-font-style-old: Light;
  --font-heading-h5-300-letter-spacing: 0;
  --font-heading-h5-300-line-height: 100%;
  --font-heading-h5-300-paragraph-indent: 0;
  --font-heading-h5-300-paragraph-spacing: 0;
  --font-heading-h5-300-text-case: none;
  --font-heading-h5-400-font-size: 25px;
  --font-heading-h5-400-text-decoration: none;
  --font-heading-h5-400-font-family: Source Sans Pro;
  --font-heading-h5-400-font-weight: 400;
  --font-heading-h5-400-font-style: normal;
  --font-heading-h5-400-font-stretch: normal;
  --font-heading-h5-400-font-style-old: Regular;
  --font-heading-h5-400-letter-spacing: 0;
  --font-heading-h5-400-line-height: 100%;
  --font-heading-h5-400-paragraph-indent: 0;
  --font-heading-h5-400-paragraph-spacing: 0;
  --font-heading-h5-400-text-case: none;
  --font-heading-h5-600-font-size: 25px;
  --font-heading-h5-600-text-decoration: none;
  --font-heading-h5-600-font-family: Source Sans Pro;
  --font-heading-h5-600-font-weight: 600;
  --font-heading-h5-600-font-style: normal;
  --font-heading-h5-600-font-stretch: normal;
  --font-heading-h5-600-font-style-old: SemiBold;
  --font-heading-h5-600-letter-spacing: 0;
  --font-heading-h5-600-line-height: 100%;
  --font-heading-h5-600-paragraph-indent: 0;
  --font-heading-h5-600-paragraph-spacing: 0;
  --font-heading-h5-600-text-case: none;
  --font-heading-h5-700-font-size: 25px;
  --font-heading-h5-700-text-decoration: none;
  --font-heading-h5-700-font-family: Source Sans Pro;
  --font-heading-h5-700-font-weight: 700;
  --font-heading-h5-700-font-style: normal;
  --font-heading-h5-700-font-stretch: normal;
  --font-heading-h5-700-font-style-old: Bold;
  --font-heading-h5-700-letter-spacing: 0;
  --font-heading-h5-700-line-height: 100%;
  --font-heading-h5-700-paragraph-indent: 0;
  --font-heading-h5-700-paragraph-spacing: 0;
  --font-heading-h5-700-text-case: none;
  --font-heading-h5-900-font-size: 25px;
  --font-heading-h5-900-text-decoration: none;
  --font-heading-h5-900-font-family: Source Sans Pro;
  --font-heading-h5-900-font-weight: 900;
  --font-heading-h5-900-font-style: normal;
  --font-heading-h5-900-font-stretch: normal;
  --font-heading-h5-900-font-style-old: Black;
  --font-heading-h5-900-letter-spacing: 0;
  --font-heading-h5-900-line-height: 100%;
  --font-heading-h5-900-paragraph-indent: 0;
  --font-heading-h5-900-paragraph-spacing: 0;
  --font-heading-h5-900-text-case: none;
  --font-heading-h6-200-font-size: 20px;
  --font-heading-h6-200-text-decoration: none;
  --font-heading-h6-200-font-family: Source Sans Pro;
  --font-heading-h6-200-font-weight: 200;
  --font-heading-h6-200-font-style: normal;
  --font-heading-h6-200-font-stretch: normal;
  --font-heading-h6-200-font-style-old: ExtraLight;
  --font-heading-h6-200-letter-spacing: 0;
  --font-heading-h6-200-line-height: 100%;
  --font-heading-h6-200-paragraph-indent: 0;
  --font-heading-h6-200-paragraph-spacing: 0;
  --font-heading-h6-200-text-case: none;
  --font-heading-h6-300-font-size: 20px;
  --font-heading-h6-300-text-decoration: none;
  --font-heading-h6-300-font-family: Source Sans Pro;
  --font-heading-h6-300-font-weight: 300;
  --font-heading-h6-300-font-style: normal;
  --font-heading-h6-300-font-stretch: normal;
  --font-heading-h6-300-font-style-old: Light;
  --font-heading-h6-300-letter-spacing: 0;
  --font-heading-h6-300-line-height: 100%;
  --font-heading-h6-300-paragraph-indent: 0;
  --font-heading-h6-300-paragraph-spacing: 0;
  --font-heading-h6-300-text-case: none;
  --font-heading-h6-400-font-size: 20px;
  --font-heading-h6-400-text-decoration: none;
  --font-heading-h6-400-font-family: Source Sans Pro;
  --font-heading-h6-400-font-weight: 400;
  --font-heading-h6-400-font-style: normal;
  --font-heading-h6-400-font-stretch: normal;
  --font-heading-h6-400-font-style-old: Regular;
  --font-heading-h6-400-letter-spacing: 0;
  --font-heading-h6-400-line-height: 100%;
  --font-heading-h6-400-paragraph-indent: 0;
  --font-heading-h6-400-paragraph-spacing: 0;
  --font-heading-h6-400-text-case: none;
  --font-heading-h6-600-font-size: 20px;
  --font-heading-h6-600-text-decoration: none;
  --font-heading-h6-600-font-family: Source Sans Pro;
  --font-heading-h6-600-font-weight: 600;
  --font-heading-h6-600-font-style: normal;
  --font-heading-h6-600-font-stretch: normal;
  --font-heading-h6-600-font-style-old: SemiBold;
  --font-heading-h6-600-letter-spacing: 0;
  --font-heading-h6-600-line-height: 100%;
  --font-heading-h6-600-paragraph-indent: 0;
  --font-heading-h6-600-paragraph-spacing: 0;
  --font-heading-h6-600-text-case: none;
  --font-heading-h6-700-font-size: 20px;
  --font-heading-h6-700-text-decoration: none;
  --font-heading-h6-700-font-family: Source Sans Pro;
  --font-heading-h6-700-font-weight: 700;
  --font-heading-h6-700-font-style: normal;
  --font-heading-h6-700-font-stretch: normal;
  --font-heading-h6-700-font-style-old: Bold;
  --font-heading-h6-700-letter-spacing: 0;
  --font-heading-h6-700-line-height: 100%;
  --font-heading-h6-700-paragraph-indent: 0;
  --font-heading-h6-700-paragraph-spacing: 0;
  --font-heading-h6-700-text-case: none;
  --font-heading-h6-900-font-size: 20px;
  --font-heading-h6-900-text-decoration: none;
  --font-heading-h6-900-font-family: Source Sans Pro;
  --font-heading-h6-900-font-weight: 900;
  --font-heading-h6-900-font-style: normal;
  --font-heading-h6-900-font-stretch: normal;
  --font-heading-h6-900-font-style-old: Black;
  --font-heading-h6-900-letter-spacing: 0;
  --font-heading-h6-900-line-height: 100%;
  --font-heading-h6-900-paragraph-indent: 0;
  --font-heading-h6-900-paragraph-spacing: 0;
  --font-heading-h6-900-text-case: none;
  --font-heading-page-h1-font-size: 32px;
  --font-heading-page-h1-text-decoration: none;
  --font-heading-page-h1-font-family: Source Sans Pro;
  --font-heading-page-h1-font-weight: 700;
  --font-heading-page-h1-font-style: normal;
  --font-heading-page-h1-font-stretch: normal;
  --font-heading-page-h1-font-style-old: Bold;
  --font-heading-page-h1-letter-spacing: 0;
  --font-heading-page-h1-line-height: 100%;
  --font-heading-page-h1-paragraph-indent: 0;
  --font-heading-page-h1-paragraph-spacing: 0;
  --font-heading-page-h1-text-case: none;
  --font-heading-page-h2-font-size: 20px;
  --font-heading-page-h2-text-decoration: none;
  --font-heading-page-h2-font-family: Source Sans Pro;
  --font-heading-page-h2-font-weight: 700;
  --font-heading-page-h2-font-style: normal;
  --font-heading-page-h2-font-stretch: normal;
  --font-heading-page-h2-font-style-old: Bold;
  --font-heading-page-h2-letter-spacing: 0;
  --font-heading-page-h2-line-height: 100%;
  --font-heading-page-h2-paragraph-indent: 0;
  --font-heading-page-h2-paragraph-spacing: 0;
  --font-heading-page-h2-text-case: none;
  --font-heading-page-h3-font-size: 16px;
  --font-heading-page-h3-text-decoration: none;
  --font-heading-page-h3-font-family: Source Sans Pro;
  --font-heading-page-h3-font-weight: 700;
  --font-heading-page-h3-font-style: normal;
  --font-heading-page-h3-font-stretch: normal;
  --font-heading-page-h3-font-style-old: Bold;
  --font-heading-page-h3-letter-spacing: 0;
  --font-heading-page-h3-line-height: 100%;
  --font-heading-page-h3-paragraph-indent: 0;
  --font-heading-page-h3-paragraph-spacing: 0;
  --font-heading-page-h3-text-case: none;
  --font-link-regular-font-size: 16px;
  --font-link-regular-text-decoration: none;
  --font-link-regular-font-family: Source Sans Pro;
  --font-link-regular-font-weight: 400;
  --font-link-regular-font-style: normal;
  --font-link-regular-font-stretch: normal;
  --font-link-regular-font-style-old: Regular;
  --font-link-regular-letter-spacing: 0;
  --font-link-regular-line-height: 100%;
  --font-link-regular-paragraph-indent: 0;
  --font-link-regular-paragraph-spacing: 0;
  --font-link-regular-text-case: none;
  --font-link-semi-bold-font-size: 16px;
  --font-link-semi-bold-text-decoration: none;
  --font-link-semi-bold-font-family: Source Sans Pro;
  --font-link-semi-bold-font-weight: 600;
  --font-link-semi-bold-font-style: normal;
  --font-link-semi-bold-font-stretch: normal;
  --font-link-semi-bold-font-style-old: SemiBold;
  --font-link-semi-bold-letter-spacing: 0;
  --font-link-semi-bold-line-height: 100%;
  --font-link-semi-bold-paragraph-indent: 0;
  --font-link-semi-bold-paragraph-spacing: 0;
  --font-link-semi-bold-text-case: none;
  --font-link-bold-font-size: 16px;
  --font-link-bold-text-decoration: none;
  --font-link-bold-font-family: Source Sans Pro;
  --font-link-bold-font-weight: 700;
  --font-link-bold-font-style: normal;
  --font-link-bold-font-stretch: normal;
  --font-link-bold-font-style-old: Bold;
  --font-link-bold-letter-spacing: 0;
  --font-link-bold-line-height: 100%;
  --font-link-bold-paragraph-indent: 0;
  --font-link-bold-paragraph-spacing: 0;
  --font-link-bold-text-case: none;
  --font-button-small-font-size: 14px;
  --font-button-small-text-decoration: none;
  --font-button-small-font-family: Source Sans Pro;
  --font-button-small-font-weight: 700;
  --font-button-small-font-style: normal;
  --font-button-small-font-stretch: normal;
  --font-button-small-font-style-old: Bold;
  --font-button-small-letter-spacing: 0;
  --font-button-small-line-height: 100%;
  --font-button-small-paragraph-indent: 0;
  --font-button-small-paragraph-spacing: 0;
  --font-button-small-text-case: uppercase;
  --font-button-medium-font-size: 16px;
  --font-button-medium-text-decoration: none;
  --font-button-medium-font-family: Source Sans Pro;
  --font-button-medium-font-weight: 700;
  --font-button-medium-font-style: normal;
  --font-button-medium-font-stretch: normal;
  --font-button-medium-font-style-old: Bold;
  --font-button-medium-letter-spacing: 0;
  --font-button-medium-line-height: 100%;
  --font-button-medium-paragraph-indent: 0;
  --font-button-medium-paragraph-spacing: 0;
  --font-button-medium-text-case: uppercase;
  --font-button-large-font-size: 18px;
  --font-button-large-text-decoration: none;
  --font-button-large-font-family: Source Sans Pro;
  --font-button-large-font-weight: 700;
  --font-button-large-font-style: normal;
  --font-button-large-font-stretch: normal;
  --font-button-large-font-style-old: Bold;
  --font-button-large-letter-spacing: 0;
  --font-button-large-line-height: 100%;
  --font-button-large-paragraph-indent: 0;
  --font-button-large-paragraph-spacing: 0;
  --font-button-large-text-case: none;
  --font-button-extra-large-font-size: 24px;
  --font-button-extra-large-text-decoration: none;
  --font-button-extra-large-font-family: Source Sans Pro;
  --font-button-extra-large-font-weight: 700;
  --font-button-extra-large-font-style: normal;
  --font-button-extra-large-font-stretch: normal;
  --font-button-extra-large-font-style-old: Bold;
  --font-button-extra-large-letter-spacing: 0;
  --font-button-extra-large-line-height: 100%;
  --font-button-extra-large-paragraph-indent: 0;
  --font-button-extra-large-paragraph-spacing: 0;
  --font-button-extra-large-text-case: uppercase;
  --font-card-heading-font-size: 16px;
  --font-card-heading-text-decoration: none;
  --font-card-heading-font-family: Source Sans Pro;
  --font-card-heading-font-weight: 700;
  --font-card-heading-font-style: normal;
  --font-card-heading-font-stretch: normal;
  --font-card-heading-font-style-old: Bold;
  --font-card-heading-letter-spacing: 0;
  --font-card-heading-line-height: 110%;
  --font-card-heading-paragraph-indent: 0;
  --font-card-heading-paragraph-spacing: 0;
  --font-card-heading-text-case: none;
  --font-card-offers-number-font-size: 14px;
  --font-card-offers-number-text-decoration: none;
  --font-card-offers-number-font-family: Source Sans Pro;
  --font-card-offers-number-font-weight: 600;
  --font-card-offers-number-font-style: normal;
  --font-card-offers-number-font-stretch: normal;
  --font-card-offers-number-font-style-old: SemiBold;
  --font-card-offers-number-letter-spacing: 0;
  --font-card-offers-number-line-height: 100%;
  --font-card-offers-number-paragraph-indent: 0;
  --font-card-offers-number-paragraph-spacing: 0;
  --font-card-offers-number-text-case: none;
  --font-card-strikethrough-price-font-size: 14px;
  --font-card-strikethrough-price-text-decoration: line-through;
  --font-card-strikethrough-price-font-family: Source Sans Pro;
  --font-card-strikethrough-price-font-weight: 400;
  --font-card-strikethrough-price-font-style: normal;
  --font-card-strikethrough-price-font-stretch: normal;
  --font-card-strikethrough-price-font-style-old: Regular;
  --font-card-strikethrough-price-letter-spacing: 0;
  --font-card-strikethrough-price-line-height: 100%;
  --font-card-strikethrough-price-paragraph-indent: 0;
  --font-card-strikethrough-price-paragraph-spacing: 0;
  --font-card-strikethrough-price-text-case: none;
  --font-card-discount-number-font-size: 12px;
  --font-card-discount-number-text-decoration: none;
  --font-card-discount-number-font-family: Source Sans Pro;
  --font-card-discount-number-font-weight: 700;
  --font-card-discount-number-font-style: normal;
  --font-card-discount-number-font-stretch: normal;
  --font-card-discount-number-font-style-old: Bold;
  --font-card-discount-number-letter-spacing: 0;
  --font-card-discount-number-line-height: 100%;
  --font-card-discount-number-paragraph-indent: 0;
  --font-card-discount-number-paragraph-spacing: 0;
  --font-card-discount-number-text-case: uppercase;
  --font-card-currency-font-size: 24px;
  --font-card-currency-text-decoration: none;
  --font-card-currency-font-family: Source Sans Pro;
  --font-card-currency-font-weight: 900;
  --font-card-currency-font-style: normal;
  --font-card-currency-font-stretch: normal;
  --font-card-currency-font-style-old: Black;
  --font-card-currency-letter-spacing: 0;
  --font-card-currency-line-height: 100%;
  --font-card-currency-paragraph-indent: 0;
  --font-card-currency-paragraph-spacing: 0;
  --font-card-currency-text-case: uppercase;
  --font-card-price-font-size: 28px;
  --font-card-price-text-decoration: none;
  --font-card-price-font-family: Source Sans Pro;
  --font-card-price-font-weight: 900;
  --font-card-price-font-style: normal;
  --font-card-price-font-stretch: normal;
  --font-card-price-font-style-old: Black;
  --font-card-price-letter-spacing: 0;
  --font-card-price-line-height: 100%;
  --font-card-price-paragraph-indent: 0;
  --font-card-price-paragraph-spacing: 0;
  --font-card-price-text-case: uppercase;
  --font-card-cents-font-size: 18px;
  --font-card-cents-text-decoration: none;
  --font-card-cents-font-family: Source Sans Pro;
  --font-card-cents-font-weight: 900;
  --font-card-cents-font-style: normal;
  --font-card-cents-font-stretch: normal;
  --font-card-cents-font-style-old: Black;
  --font-card-cents-letter-spacing: 0;
  --font-card-cents-line-height: 100%;
  --font-card-cents-paragraph-indent: 0;
  --font-card-cents-paragraph-spacing: 0;
  --font-card-cents-text-case: uppercase;
  --font-card-installments-regular-font-size: 14px;
  --font-card-installments-regular-text-decoration: none;
  --font-card-installments-regular-font-family: Source Sans Pro;
  --font-card-installments-regular-font-weight: 400;
  --font-card-installments-regular-font-style: normal;
  --font-card-installments-regular-font-stretch: normal;
  --font-card-installments-regular-font-style-old: Regular;
  --font-card-installments-regular-letter-spacing: 0;
  --font-card-installments-regular-line-height: 100%;
  --font-card-installments-regular-paragraph-indent: 0;
  --font-card-installments-regular-paragraph-spacing: 0;
  --font-card-installments-regular-text-case: none;
  --font-card-installments-bold-font-size: 14px;
  --font-card-installments-bold-text-decoration: none;
  --font-card-installments-bold-font-family: Source Sans Pro;
  --font-card-installments-bold-font-weight: 700;
  --font-card-installments-bold-font-style: normal;
  --font-card-installments-bold-font-stretch: normal;
  --font-card-installments-bold-font-style-old: Bold;
  --font-card-installments-bold-letter-spacing: 0;
  --font-card-installments-bold-line-height: 100%;
  --font-card-installments-bold-paragraph-indent: 0;
  --font-card-installments-bold-paragraph-spacing: 0;
  --font-card-installments-bold-text-case: none;
  --font-body-small-light-font-size: 14px;
  --font-body-small-light-text-decoration: none;
  --font-body-small-light-font-family: Source Sans Pro;
  --font-body-small-light-font-weight: 300;
  --font-body-small-light-font-style: normal;
  --font-body-small-light-font-stretch: normal;
  --font-body-small-light-font-style-old: Light;
  --font-body-small-light-letter-spacing: 0;
  --font-body-small-light-line-height: 150%;
  --font-body-small-light-paragraph-indent: 0;
  --font-body-small-light-paragraph-spacing: 0;
  --font-body-small-light-text-case: none;
  --font-body-small-regular-font-size: 14px;
  --font-body-small-regular-text-decoration: none;
  --font-body-small-regular-font-family: Source Sans Pro;
  --font-body-small-regular-font-weight: 400;
  --font-body-small-regular-font-style: normal;
  --font-body-small-regular-font-stretch: normal;
  --font-body-small-regular-font-style-old: Regular;
  --font-body-small-regular-letter-spacing: 0;
  --font-body-small-regular-line-height: 150%;
  --font-body-small-regular-paragraph-indent: 0;
  --font-body-small-regular-paragraph-spacing: 0;
  --font-body-small-regular-text-case: none;
  --font-body-small-semi-bold-font-size: 14px;
  --font-body-small-semi-bold-text-decoration: none;
  --font-body-small-semi-bold-font-family: Source Sans Pro;
  --font-body-small-semi-bold-font-weight: 400;
  --font-body-small-semi-bold-font-style: normal;
  --font-body-small-semi-bold-font-stretch: normal;
  --font-body-small-semi-bold-font-style-old: Regular;
  --font-body-small-semi-bold-letter-spacing: 0;
  --font-body-small-semi-bold-line-height: 150%;
  --font-body-small-semi-bold-paragraph-indent: 0;
  --font-body-small-semi-bold-paragraph-spacing: 0;
  --font-body-small-semi-bold-text-case: none;
  --font-body-small-bold-font-size: 14px;
  --font-body-small-bold-text-decoration: none;
  --font-body-small-bold-font-family: Source Sans Pro;
  --font-body-small-bold-font-weight: 700;
  --font-body-small-bold-font-style: normal;
  --font-body-small-bold-font-stretch: normal;
  --font-body-small-bold-font-style-old: Bold;
  --font-body-small-bold-letter-spacing: 0;
  --font-body-small-bold-line-height: 150%;
  --font-body-small-bold-paragraph-indent: 0;
  --font-body-small-bold-paragraph-spacing: 0;
  --font-body-small-bold-text-case: none;
  --font-body-medium-light-font-size: 16px;
  --font-body-medium-light-text-decoration: none;
  --font-body-medium-light-font-family: Source Sans Pro;
  --font-body-medium-light-font-weight: 300;
  --font-body-medium-light-font-style: normal;
  --font-body-medium-light-font-stretch: normal;
  --font-body-medium-light-font-style-old: Light;
  --font-body-medium-light-letter-spacing: 0;
  --font-body-medium-light-line-height: 150%;
  --font-body-medium-light-paragraph-indent: 0;
  --font-body-medium-light-paragraph-spacing: 0;
  --font-body-medium-light-text-case: none;
  --font-body-medium-regular-font-size: 16px;
  --font-body-medium-regular-text-decoration: none;
  --font-body-medium-regular-font-family: Source Sans Pro;
  --font-body-medium-regular-font-weight: 400;
  --font-body-medium-regular-font-style: normal;
  --font-body-medium-regular-font-stretch: normal;
  --font-body-medium-regular-font-style-old: Regular;
  --font-body-medium-regular-letter-spacing: 0;
  --font-body-medium-regular-line-height: 150%;
  --font-body-medium-regular-paragraph-indent: 0;
  --font-body-medium-regular-paragraph-spacing: 0;
  --font-body-medium-regular-text-case: none;
  --font-body-medium-semi-bold-font-size: 16px;
  --font-body-medium-semi-bold-text-decoration: none;
  --font-body-medium-semi-bold-font-family: Source Sans Pro;
  --font-body-medium-semi-bold-font-weight: 600;
  --font-body-medium-semi-bold-font-style: normal;
  --font-body-medium-semi-bold-font-stretch: normal;
  --font-body-medium-semi-bold-font-style-old: SemiBold;
  --font-body-medium-semi-bold-letter-spacing: 0;
  --font-body-medium-semi-bold-line-height: 150%;
  --font-body-medium-semi-bold-paragraph-indent: 0;
  --font-body-medium-semi-bold-paragraph-spacing: 0;
  --font-body-medium-semi-bold-text-case: none;
  --font-body-medium-bold-font-size: 16px;
  --font-body-medium-bold-text-decoration: none;
  --font-body-medium-bold-font-family: Source Sans Pro;
  --font-body-medium-bold-font-weight: 700;
  --font-body-medium-bold-font-style: normal;
  --font-body-medium-bold-font-stretch: normal;
  --font-body-medium-bold-font-style-old: Bold;
  --font-body-medium-bold-letter-spacing: 0;
  --font-body-medium-bold-line-height: 150%;
  --font-body-medium-bold-paragraph-indent: 0;
  --font-body-medium-bold-paragraph-spacing: 0;
  --font-body-medium-bold-text-case: none;
  --font-body-large-light-font-size: 18px;
  --font-body-large-light-text-decoration: none;
  --font-body-large-light-font-family: Source Sans Pro;
  --font-body-large-light-font-weight: 300;
  --font-body-large-light-font-style: normal;
  --font-body-large-light-font-stretch: normal;
  --font-body-large-light-font-style-old: Light;
  --font-body-large-light-letter-spacing: 0;
  --font-body-large-light-line-height: 150%;
  --font-body-large-light-paragraph-indent: 0;
  --font-body-large-light-paragraph-spacing: 0;
  --font-body-large-light-text-case: none;
  --font-body-large-regular-font-size: 18px;
  --font-body-large-regular-text-decoration: none;
  --font-body-large-regular-font-family: Source Sans Pro;
  --font-body-large-regular-font-weight: 400;
  --font-body-large-regular-font-style: normal;
  --font-body-large-regular-font-stretch: normal;
  --font-body-large-regular-font-style-old: Regular;
  --font-body-large-regular-letter-spacing: 0;
  --font-body-large-regular-line-height: 150%;
  --font-body-large-regular-paragraph-indent: 0;
  --font-body-large-regular-paragraph-spacing: 0;
  --font-body-large-regular-text-case: none;
  --font-body-large-semi-bold-font-size: 18px;
  --font-body-large-semi-bold-text-decoration: none;
  --font-body-large-semi-bold-font-family: Source Sans Pro;
  --font-body-large-semi-bold-font-weight: 600;
  --font-body-large-semi-bold-font-style: normal;
  --font-body-large-semi-bold-font-stretch: normal;
  --font-body-large-semi-bold-font-style-old: SemiBold;
  --font-body-large-semi-bold-letter-spacing: 0;
  --font-body-large-semi-bold-line-height: 150%;
  --font-body-large-semi-bold-paragraph-indent: 0;
  --font-body-large-semi-bold-paragraph-spacing: 0;
  --font-body-large-semi-bold-text-case: none;
}
