:root {
  --color-primary-default: #ff5300;
  --color-primary-light: #ff7c3e;
  --color-primary-dark: #9d3402;
  --color-primary-contrast: #ffffff;
  --color-secondary-default: #edede3;
  --color-secondary-light: #f4f4ee;
  --color-secondary-dark: #d5d5cc;
  --color-secondary-contrast: #222222;
  --color-text-default: #222222;
  --color-text-light: #666666;
  --color-text-dark: #000000;
  --color-text-contrast: #ffffff;
  --color-highlight-default: #00559f;
  --color-highlight-light: #1fb4fb;
  --color-highlight-dark: #004179;
  --color-highlight-contrast: #ffffff;
  --color-info-default: #1a318f;
  --color-info-light: #a3add2;
  --color-info-dark: #122264;
  --color-info-darker: #0d1847;
  --color-error-default: #f44336;
  --color-error-light: #fbb4af;
  --color-error-dark: #ab2f26;
  --color-error-darker: #7a211b;
  --color-success-default: #70b53c;
  --color-success-light: #a6d77e;
  --color-success-dark: #488d29;
  --color-success-darker: #226b16;
  --color-border-light: #eff1f4;
  --color-main-background: #ffffff;
  --color-header-background: #edede3;
  --color-header-icon: #222222;
  --color-header-menu-background: #646464;
  --color-header-menu-text: #edede3;
  --color-header-input-background: #fafaf7;
  --color-discount-background: #a9f57b;
  --color-discount-text: rgba(0, 0, 0, 0.4);
  --color-radio-border: #dbdbdb;
  --color-status-delivered: #64ab0a;
  --color-status-moved: #1f5eff;
  --color-status-payment: #c5390c;
  --color-status-separating: #ffe605;
  --color-footer-payment-background: #ffffff;
  --gradient-carousel-background-gradient-type: linear;
  --gradient-carousel-background-rotation: 180;
  --gradient-carousel-background-stops-0-position: 0;
  --gradient-carousel-background-stops-0-color: rgba(255, 255, 255, 1);
  --gradient-carousel-background-stops-1-position: 1;
  --gradient-carousel-background-stops-1-color: rgba(237, 237, 227, 1);
  --gradient-carousel-background-opacity: 1;
  --gradient-footer-background-gradient-type: linear;
  --gradient-footer-background-rotation: 180;
  --gradient-footer-background-stops-0-position: 0;
  --gradient-footer-background-stops-0-color: rgba(237, 237, 227, 1);
  --gradient-footer-background-stops-1-position: 1;
  --gradient-footer-background-stops-1-color: rgba(255, 255, 255, 1);
  --gradient-footer-background-opacity: 1;
  --font-button-small-font-size: 14px;
  --font-button-small-text-decoration: none;
  --font-button-small-font-family: Source Sans Pro;
  --font-button-small-font-weight: 700;
  --font-button-small-font-style: normal;
  --font-button-small-font-stretch: normal;
  --font-button-small-font-style-old: Bold;
  --font-button-small-letter-spacing: 0;
  --font-button-small-line-height: 100%;
  --font-button-small-paragraph-indent: 0;
  --font-button-small-paragraph-spacing: 0;
  --font-button-small-text-case: uppercase;
  --font-button-medium-font-size: 16px;
  --font-button-medium-text-decoration: none;
  --font-button-medium-font-family: Source Sans Pro;
  --font-button-medium-font-weight: 700;
  --font-button-medium-font-style: normal;
  --font-button-medium-font-stretch: normal;
  --font-button-medium-font-style-old: Bold;
  --font-button-medium-letter-spacing: 0;
  --font-button-medium-line-height: 100%;
  --font-button-medium-paragraph-indent: 0;
  --font-button-medium-paragraph-spacing: 0;
  --font-button-medium-text-case: uppercase;
  --font-button-large-font-size: 18px;
  --font-button-large-text-decoration: none;
  --font-button-large-font-family: Source Sans Pro;
  --font-button-large-font-weight: 700;
  --font-button-large-font-style: normal;
  --font-button-large-font-stretch: normal;
  --font-button-large-font-style-old: Bold;
  --font-button-large-letter-spacing: 0;
  --font-button-large-line-height: 100%;
  --font-button-large-paragraph-indent: 0;
  --font-button-large-paragraph-spacing: 0;
  --font-button-large-text-case: uppercase;
  --font-button-extra-large-font-size: 24px;
  --font-button-extra-large-text-decoration: none;
  --font-button-extra-large-font-family: Source Sans Pro;
  --font-button-extra-large-font-weight: 700;
  --font-button-extra-large-font-style: normal;
  --font-button-extra-large-font-stretch: normal;
  --font-button-extra-large-font-style-old: Bold;
  --font-button-extra-large-letter-spacing: 0;
  --font-button-extra-large-line-height: 100%;
  --font-button-extra-large-paragraph-indent: 0;
  --font-button-extra-large-paragraph-spacing: 0;
  --font-button-extra-large-text-case: uppercase;
  --font-card-heading-font-size: 16px;
  --font-card-heading-text-decoration: none;
  --font-card-heading-font-family: Source Sans Pro;
  --font-card-heading-font-weight: 700;
  --font-card-heading-font-style: normal;
  --font-card-heading-font-stretch: normal;
  --font-card-heading-font-style-old: Bold;
  --font-card-heading-letter-spacing: 0;
  --font-card-heading-line-height: 110%;
  --font-card-heading-paragraph-indent: 0;
  --font-card-heading-paragraph-spacing: 0;
  --font-card-heading-text-case: none;
  --font-card-offers-font-size: 14px;
  --font-card-offers-text-decoration: none;
  --font-card-offers-font-family: Source Sans Pro;
  --font-card-offers-font-weight: 600;
  --font-card-offers-font-style: normal;
  --font-card-offers-font-stretch: normal;
  --font-card-offers-font-style-old: SemiBold;
  --font-card-offers-letter-spacing: 0;
  --font-card-offers-line-height: 100%;
  --font-card-offers-paragraph-indent: 0;
  --font-card-offers-paragraph-spacing: 0;
  --font-card-offers-text-case: none;
  --font-card-strikethrough-price-font-size: 14px;
  --font-card-strikethrough-price-text-decoration: line-through;
  --font-card-strikethrough-price-font-family: Source Sans Pro;
  --font-card-strikethrough-price-font-weight: 400;
  --font-card-strikethrough-price-font-style: normal;
  --font-card-strikethrough-price-font-stretch: normal;
  --font-card-strikethrough-price-font-style-old: Regular;
  --font-card-strikethrough-price-letter-spacing: 0;
  --font-card-strikethrough-price-line-height: 100%;
  --font-card-strikethrough-price-paragraph-indent: 0;
  --font-card-strikethrough-price-paragraph-spacing: 0;
  --font-card-strikethrough-price-text-case: none;
  --font-card-discount-font-size: 12px;
  --font-card-discount-text-decoration: none;
  --font-card-discount-font-family: Source Sans Pro;
  --font-card-discount-font-weight: 700;
  --font-card-discount-font-style: normal;
  --font-card-discount-font-stretch: normal;
  --font-card-discount-font-style-old: Bold;
  --font-card-discount-letter-spacing: 0;
  --font-card-discount-line-height: 100%;
  --font-card-discount-paragraph-indent: 0;
  --font-card-discount-paragraph-spacing: 0;
  --font-card-discount-text-case: uppercase;
  --font-card-currency-font-size: 24px;
  --font-card-currency-text-decoration: none;
  --font-card-currency-font-family: Source Sans Pro;
  --font-card-currency-font-weight: 900;
  --font-card-currency-font-style: normal;
  --font-card-currency-font-stretch: normal;
  --font-card-currency-font-style-old: Black;
  --font-card-currency-letter-spacing: 0;
  --font-card-currency-line-height: 100%;
  --font-card-currency-paragraph-indent: 0;
  --font-card-currency-paragraph-spacing: 0;
  --font-card-currency-text-case: uppercase;
  --font-card-price-font-size: 28px;
  --font-card-price-text-decoration: none;
  --font-card-price-font-family: Source Sans Pro;
  --font-card-price-font-weight: 900;
  --font-card-price-font-style: normal;
  --font-card-price-font-stretch: normal;
  --font-card-price-font-style-old: Black;
  --font-card-price-letter-spacing: 0;
  --font-card-price-line-height: 100%;
  --font-card-price-paragraph-indent: 0;
  --font-card-price-paragraph-spacing: 0;
  --font-card-price-text-case: uppercase;
  --font-card-cents-font-size: 18px;
  --font-card-cents-text-decoration: none;
  --font-card-cents-font-family: Source Sans Pro;
  --font-card-cents-font-weight: 900;
  --font-card-cents-font-style: normal;
  --font-card-cents-font-stretch: normal;
  --font-card-cents-font-style-old: Black;
  --font-card-cents-letter-spacing: 0;
  --font-card-cents-line-height: 100%;
  --font-card-cents-paragraph-indent: 0;
  --font-card-cents-paragraph-spacing: 0;
  --font-card-cents-text-case: uppercase;
  --font-card-installments-regular-font-size: 14px;
  --font-card-installments-regular-text-decoration: none;
  --font-card-installments-regular-font-family: Source Sans Pro;
  --font-card-installments-regular-font-weight: 400;
  --font-card-installments-regular-font-style: normal;
  --font-card-installments-regular-font-stretch: normal;
  --font-card-installments-regular-font-style-old: Regular;
  --font-card-installments-regular-letter-spacing: 0;
  --font-card-installments-regular-line-height: 100%;
  --font-card-installments-regular-paragraph-indent: 0;
  --font-card-installments-regular-paragraph-spacing: 0;
  --font-card-installments-regular-text-case: none;
  --font-card-installments-bold-font-size: 14px;
  --font-card-installments-bold-text-decoration: none;
  --font-card-installments-bold-font-family: Source Sans Pro;
  --font-card-installments-bold-font-weight: 700;
  --font-card-installments-bold-font-style: normal;
  --font-card-installments-bold-font-stretch: normal;
  --font-card-installments-bold-font-style-old: Bold;
  --font-card-installments-bold-letter-spacing: 0;
  --font-card-installments-bold-line-height: 100%;
  --font-card-installments-bold-paragraph-indent: 0;
  --font-card-installments-bold-paragraph-spacing: 0;
  --font-card-installments-bold-text-case: none;
  --font-main-heading-font-size: 35px;
  --font-main-heading-text-decoration: none;
  --font-main-heading-font-family: Source Sans Pro;
  --font-main-heading-font-weight: 700;
  --font-main-heading-font-style: normal;
  --font-main-heading-font-stretch: normal;
  --font-main-heading-font-style-old: Bold;
  --font-main-heading-letter-spacing: 0;
  --font-main-heading-line-height: 100%;
  --font-main-heading-paragraph-indent: 0;
  --font-main-heading-paragraph-spacing: 0;
  --font-main-heading-text-case: none;
  --font-main-body-font-size: 16px;
  --font-main-body-text-decoration: none;
  --font-main-body-font-family: Source Sans Pro;
  --font-main-body-font-weight: 400;
  --font-main-body-font-style: normal;
  --font-main-body-font-stretch: normal;
  --font-main-body-font-style-old: Regular;
  --font-main-body-letter-spacing: 0;
  --font-main-body-line-height: 150%;
  --font-main-body-paragraph-indent: 0;
  --font-main-body-paragraph-spacing: 0;
  --font-main-body-text-case: none;
  --font-main-subheading-font-size: 24px;
  --font-main-subheading-text-decoration: none;
  --font-main-subheading-font-family: Source Sans Pro;
  --font-main-subheading-font-weight: 600;
  --font-main-subheading-font-style: normal;
  --font-main-subheading-font-stretch: normal;
  --font-main-subheading-font-style-old: SemiBold;
  --font-main-subheading-letter-spacing: 0;
  --font-main-subheading-line-height: 100%;
  --font-main-subheading-paragraph-indent: 0;
  --font-main-subheading-paragraph-spacing: 0;
  --font-main-subheading-text-case: none;
  --font-main-link-font-size: 14px;
  --font-main-link-text-decoration: none;
  --font-main-link-font-family: Source Sans Pro;
  --font-main-link-font-weight: 700;
  --font-main-link-font-style: normal;
  --font-main-link-font-stretch: normal;
  --font-main-link-font-style-old: Bold;
  --font-main-link-letter-spacing: 0;
  --font-main-link-line-height: 150%;
  --font-main-link-paragraph-indent: 0;
  --font-main-link-paragraph-spacing: 0;
  --font-main-link-text-case: none;
  --font-footer-heading-font-size: 20px;
  --font-footer-heading-text-decoration: none;
  --font-footer-heading-font-family: Source Sans Pro;
  --font-footer-heading-font-weight: 700;
  --font-footer-heading-font-style: normal;
  --font-footer-heading-font-stretch: normal;
  --font-footer-heading-font-style-old: Bold;
  --font-footer-heading-letter-spacing: 0;
  --font-footer-heading-line-height: 100%;
  --font-footer-heading-paragraph-indent: 0;
  --font-footer-heading-paragraph-spacing: 0;
  --font-footer-heading-text-case: none;
  --font-footer-body-font-size: 14px;
  --font-footer-body-text-decoration: none;
  --font-footer-body-font-family: Source Sans Pro;
  --font-footer-body-font-weight: 400;
  --font-footer-body-font-style: normal;
  --font-footer-body-font-stretch: normal;
  --font-footer-body-font-style-old: Regular;
  --font-footer-body-letter-spacing: 0;
  --font-footer-body-line-height: 150%;
  --font-footer-body-paragraph-indent: 0;
  --font-footer-body-paragraph-spacing: 0;
  --font-footer-body-text-case: none;
  --font-footer-novovarejo-font-size: 16px;
  --font-footer-novovarejo-text-decoration: none;
  --font-footer-novovarejo-font-family: Source Sans Pro;
  --font-footer-novovarejo-font-weight: 700;
  --font-footer-novovarejo-font-style: normal;
  --font-footer-novovarejo-font-stretch: normal;
  --font-footer-novovarejo-font-style-old: Bold;
  --font-footer-novovarejo-letter-spacing: 0;
  --font-footer-novovarejo-line-height: 100%;
  --font-footer-novovarejo-paragraph-indent: 0;
  --font-footer-novovarejo-paragraph-spacing: 0;
  --font-footer-novovarejo-text-case: uppercase;
  --font-footer-features-heading-font-size: 20px;
  --font-footer-features-heading-text-decoration: none;
  --font-footer-features-heading-font-family: Source Sans Pro;
  --font-footer-features-heading-font-weight: 900;
  --font-footer-features-heading-font-style: normal;
  --font-footer-features-heading-font-stretch: normal;
  --font-footer-features-heading-font-style-old: Black;
  --font-footer-features-heading-letter-spacing: 0;
  --font-footer-features-heading-line-height: 100%;
  --font-footer-features-heading-paragraph-indent: 0;
  --font-footer-features-heading-paragraph-spacing: 0;
  --font-footer-features-heading-text-case: none;
  --font-footer-features-body-font-size: 16px;
  --font-footer-features-body-text-decoration: none;
  --font-footer-features-body-font-family: Source Sans Pro;
  --font-footer-features-body-font-weight: 400;
  --font-footer-features-body-font-style: normal;
  --font-footer-features-body-font-stretch: normal;
  --font-footer-features-body-font-style-old: Regular;
  --font-footer-features-body-letter-spacing: 0;
  --font-footer-features-body-line-height: 150%;
  --font-footer-features-body-paragraph-indent: 0;
  --font-footer-features-body-paragraph-spacing: 0;
  --font-footer-features-body-text-case: none;
  --font-header-menu-font-size: 16px;
  --font-header-menu-text-decoration: none;
  --font-header-menu-font-family: Source Sans Pro;
  --font-header-menu-font-weight: 700;
  --font-header-menu-font-style: normal;
  --font-header-menu-font-stretch: normal;
  --font-header-menu-font-style-old: Bold;
  --font-header-menu-letter-spacing: 0;
  --font-header-menu-line-height: 150%;
  --font-header-menu-paragraph-indent: 0;
  --font-header-menu-paragraph-spacing: 0;
  --font-header-menu-text-case: uppercase;
  --font-header-body-font-size: 16px;
  --font-header-body-text-decoration: none;
  --font-header-body-font-family: Source Sans Pro;
  --font-header-body-font-weight: 400;
  --font-header-body-font-style: normal;
  --font-header-body-font-stretch: normal;
  --font-header-body-font-style-old: Regular;
  --font-header-body-letter-spacing: 0;
  --font-header-body-line-height: 150%;
  --font-header-body-paragraph-indent: 0;
  --font-header-body-paragraph-spacing: 0;
  --font-header-body-text-case: none;
  --font-header-link-font-size: 16px;
  --font-header-link-text-decoration: none;
  --font-header-link-font-family: Source Sans Pro;
  --font-header-link-font-weight: 700;
  --font-header-link-font-style: normal;
  --font-header-link-font-stretch: normal;
  --font-header-link-font-style-old: Bold;
  --font-header-link-letter-spacing: 0;
  --font-header-link-line-height: 100%;
  --font-header-link-paragraph-indent: 0;
  --font-header-link-paragraph-spacing: 0;
  --font-header-link-text-case: none;
  --font-product-name-font-size: 50px;
  --font-product-name-text-decoration: none;
  --font-product-name-font-family: Source Sans Pro;
  --font-product-name-font-weight: 700;
  --font-product-name-font-style: normal;
  --font-product-name-font-stretch: normal;
  --font-product-name-font-style-old: Bold;
  --font-product-name-letter-spacing: 0;
  --font-product-name-line-height: 100%;
  --font-product-name-paragraph-indent: 0;
  --font-product-name-paragraph-spacing: 0;
  --font-product-name-text-case: none;
  --font-product-brand-font-size: 50px;
  --font-product-brand-text-decoration: none;
  --font-product-brand-font-family: Source Sans Pro;
  --font-product-brand-font-weight: 900;
  --font-product-brand-font-style: normal;
  --font-product-brand-font-stretch: normal;
  --font-product-brand-font-style-old: Black;
  --font-product-brand-letter-spacing: 0;
  --font-product-brand-line-height: 100%;
  --font-product-brand-paragraph-indent: 0;
  --font-product-brand-paragraph-spacing: 0;
  --font-product-brand-text-case: none;
  --font-product-price-font-size: 59px;
  --font-product-price-text-decoration: none;
  --font-product-price-font-family: Source Sans Pro;
  --font-product-price-font-weight: 700;
  --font-product-price-font-style: normal;
  --font-product-price-font-stretch: normal;
  --font-product-price-font-style-old: Bold;
  --font-product-price-letter-spacing: -3;
  --font-product-price-line-height: 110%;
  --font-product-price-paragraph-indent: 0;
  --font-product-price-paragraph-spacing: 0;
  --font-product-price-text-case: none;
  --font-product-cents-font-size: 49px;
  --font-product-cents-text-decoration: none;
  --font-product-cents-font-family: Source Sans Pro;
  --font-product-cents-font-weight: 700;
  --font-product-cents-font-style: normal;
  --font-product-cents-font-stretch: normal;
  --font-product-cents-font-style-old: Bold;
  --font-product-cents-letter-spacing: 0;
  --font-product-cents-line-height: 110%;
  --font-product-cents-paragraph-indent: 0;
  --font-product-cents-paragraph-spacing: 0;
  --font-product-cents-text-case: none;
  --font-product-discount-font-size: 13px;
  --font-product-discount-text-decoration: none;
  --font-product-discount-font-family: Source Sans Pro;
  --font-product-discount-font-weight: 700;
  --font-product-discount-font-style: normal;
  --font-product-discount-font-stretch: normal;
  --font-product-discount-font-style-old: Bold;
  --font-product-discount-letter-spacing: 0;
  --font-product-discount-line-height: 100%;
  --font-product-discount-paragraph-indent: 0;
  --font-product-discount-paragraph-spacing: 0;
  --font-product-discount-text-case: none;
  --font-product-strikethrough-font-size: 18px;
  --font-product-strikethrough-text-decoration: none;
  --font-product-strikethrough-font-family: Source Sans Pro;
  --font-product-strikethrough-font-weight: 400;
  --font-product-strikethrough-font-style: normal;
  --font-product-strikethrough-font-stretch: normal;
  --font-product-strikethrough-font-style-old: Regular;
  --font-product-strikethrough-letter-spacing: 0;
  --font-product-strikethrough-line-height: 100%;
  --font-product-strikethrough-paragraph-indent: 0;
  --font-product-strikethrough-paragraph-spacing: 0;
  --font-product-strikethrough-text-case: none;
  --font-product-installments-body-font-size: 16px;
  --font-product-installments-body-text-decoration: none;
  --font-product-installments-body-font-family: Source Sans Pro;
  --font-product-installments-body-font-weight: 400;
  --font-product-installments-body-font-style: normal;
  --font-product-installments-body-font-stretch: normal;
  --font-product-installments-body-font-style-old: Regular;
  --font-product-installments-body-letter-spacing: -0.2;
  --font-product-installments-body-line-height: 110%;
  --font-product-installments-body-paragraph-indent: 0;
  --font-product-installments-body-paragraph-spacing: 0;
  --font-product-installments-body-text-case: none;
  --font-product-installments-emphasis-font-size: 16px;
  --font-product-installments-emphasis-text-decoration: none;
  --font-product-installments-emphasis-font-family: Source Sans Pro;
  --font-product-installments-emphasis-font-weight: 700;
  --font-product-installments-emphasis-font-style: normal;
  --font-product-installments-emphasis-font-stretch: normal;
  --font-product-installments-emphasis-font-style-old: Bold;
  --font-product-installments-emphasis-letter-spacing: 0;
  --font-product-installments-emphasis-line-height: 110%;
  --font-product-installments-emphasis-paragraph-indent: 0;
  --font-product-installments-emphasis-paragraph-spacing: 0;
  --font-product-installments-emphasis-text-case: none;
  --font-product-installments-price-font-size: 16px;
  --font-product-installments-price-text-decoration: none;
  --font-product-installments-price-font-family: Source Sans Pro;
  --font-product-installments-price-font-weight: 700;
  --font-product-installments-price-font-style: normal;
  --font-product-installments-price-font-stretch: normal;
  --font-product-installments-price-font-style-old: Bold;
  --font-product-installments-price-letter-spacing: 0;
  --font-product-installments-price-line-height: 110%;
  --font-product-installments-price-paragraph-indent: 0;
  --font-product-installments-price-paragraph-spacing: 0;
  --font-product-installments-price-text-case: none;
  --font-product-installments-cents-font-size: 16px;
  --font-product-installments-cents-text-decoration: none;
  --font-product-installments-cents-font-family: Source Sans Pro;
  --font-product-installments-cents-font-weight: 700;
  --font-product-installments-cents-font-style: normal;
  --font-product-installments-cents-font-stretch: normal;
  --font-product-installments-cents-font-style-old: Bold;
  --font-product-installments-cents-letter-spacing: 0;
  --font-product-installments-cents-line-height: 110%;
  --font-product-installments-cents-paragraph-indent: 0;
  --font-product-installments-cents-paragraph-spacing: 0;
  --font-product-installments-cents-text-case: none;
  --font-carousel-heading-font-size: 35px;
  --font-carousel-heading-text-decoration: none;
  --font-carousel-heading-font-family: Source Sans Pro;
  --font-carousel-heading-font-weight: 900;
  --font-carousel-heading-font-style: normal;
  --font-carousel-heading-font-stretch: normal;
  --font-carousel-heading-font-style-old: Black;
  --font-carousel-heading-letter-spacing: 0;
  --font-carousel-heading-line-height: 100%;
  --font-carousel-heading-paragraph-indent: 0;
  --font-carousel-heading-paragraph-spacing: 0;
  --font-carousel-heading-text-case: none;
  --font-carousel-menu-font-size: 16px;
  --font-carousel-menu-text-decoration: none;
  --font-carousel-menu-font-family: Source Sans Pro;
  --font-carousel-menu-font-weight: 700;
  --font-carousel-menu-font-style: normal;
  --font-carousel-menu-font-stretch: normal;
  --font-carousel-menu-font-style-old: Bold;
  --font-carousel-menu-letter-spacing: 0;
  --font-carousel-menu-line-height: 150%;
  --font-carousel-menu-paragraph-indent: 0;
  --font-carousel-menu-paragraph-spacing: 0;
  --font-carousel-menu-text-case: uppercase;
  --font-showcase-sidebar-heading-font-size: 18px;
  --font-showcase-sidebar-heading-text-decoration: none;
  --font-showcase-sidebar-heading-font-family: Source Sans Pro;
  --font-showcase-sidebar-heading-font-weight: 700;
  --font-showcase-sidebar-heading-font-style: normal;
  --font-showcase-sidebar-heading-font-stretch: normal;
  --font-showcase-sidebar-heading-font-style-old: Bold;
  --font-showcase-sidebar-heading-letter-spacing: 0;
  --font-showcase-sidebar-heading-line-height: 100%;
  --font-showcase-sidebar-heading-paragraph-indent: 0;
  --font-showcase-sidebar-heading-paragraph-spacing: 0;
  --font-showcase-sidebar-heading-text-case: uppercase;
  --font-showcase-sidebar-item-font-size: 16px;
  --font-showcase-sidebar-item-text-decoration: none;
  --font-showcase-sidebar-item-font-family: Source Sans Pro;
  --font-showcase-sidebar-item-font-weight: 600;
  --font-showcase-sidebar-item-font-style: normal;
  --font-showcase-sidebar-item-font-stretch: normal;
  --font-showcase-sidebar-item-font-style-old: SemiBold;
  --font-showcase-sidebar-item-letter-spacing: 0;
  --font-showcase-sidebar-item-line-height: 100%;
  --font-showcase-sidebar-item-paragraph-indent: 0;
  --font-showcase-sidebar-item-paragraph-spacing: 0;
  --font-showcase-sidebar-item-text-case: none;
  --font-showcase-sidebar-input-font-size: 16px;
  --font-showcase-sidebar-input-text-decoration: none;
  --font-showcase-sidebar-input-font-family: Source Sans Pro;
  --font-showcase-sidebar-input-font-weight: 400;
  --font-showcase-sidebar-input-font-style: normal;
  --font-showcase-sidebar-input-font-stretch: normal;
  --font-showcase-sidebar-input-font-style-old: Regular;
  --font-showcase-sidebar-input-letter-spacing: 0;
  --font-showcase-sidebar-input-line-height: 100%;
  --font-showcase-sidebar-input-paragraph-indent: 0;
  --font-showcase-sidebar-input-paragraph-spacing: 0;
  --font-showcase-sidebar-input-text-case: none;
  --font-showcase-sidebar-button-font-size: 16px;
  --font-showcase-sidebar-button-text-decoration: none;
  --font-showcase-sidebar-button-font-family: Source Sans Pro;
  --font-showcase-sidebar-button-font-weight: 700;
  --font-showcase-sidebar-button-font-style: normal;
  --font-showcase-sidebar-button-font-stretch: normal;
  --font-showcase-sidebar-button-font-style-old: Bold;
  --font-showcase-sidebar-button-letter-spacing: 0;
  --font-showcase-sidebar-button-line-height: 100%;
  --font-showcase-sidebar-button-paragraph-indent: 0;
  --font-showcase-sidebar-button-paragraph-spacing: 0;
  --font-showcase-sidebar-button-text-case: uppercase;
  --font-breadcrumb-link-font-size: 14px;
  --font-breadcrumb-link-text-decoration: none;
  --font-breadcrumb-link-font-family: Source Sans Pro;
  --font-breadcrumb-link-font-weight: 700;
  --font-breadcrumb-link-font-style: normal;
  --font-breadcrumb-link-font-stretch: normal;
  --font-breadcrumb-link-font-style-old: Bold;
  --font-breadcrumb-link-letter-spacing: 0;
  --font-breadcrumb-link-line-height: 150%;
  --font-breadcrumb-link-paragraph-indent: 0;
  --font-breadcrumb-link-paragraph-spacing: 0;
  --font-breadcrumb-link-text-case: none;
  --font-breadcrumb-body-font-size: 14px;
  --font-breadcrumb-body-text-decoration: none;
  --font-breadcrumb-body-font-family: Source Sans Pro;
  --font-breadcrumb-body-font-weight: 600;
  --font-breadcrumb-body-font-style: normal;
  --font-breadcrumb-body-font-stretch: normal;
  --font-breadcrumb-body-font-style-old: SemiBold;
  --font-breadcrumb-body-letter-spacing: 0;
  --font-breadcrumb-body-line-height: 150%;
  --font-breadcrumb-body-paragraph-indent: 0;
  --font-breadcrumb-body-paragraph-spacing: 0;
  --font-breadcrumb-body-text-case: none;
}
